In [1]:
import pandas as pd
import numpy as np

In [2]:
masters = pd.read_csv('all_data.csv', index_col=0)

In [3]:
masters.columns

Index(['player_name', 'year', 'wgr', 'masters_finish', 'total_score',
       'ranking', 'top_10', 'wins', 'score_average', 'rounds', 'bounce_back',
       'driving_accuracy', 'driving_distance', 'par5_SA', 'gir',
       'hole_proximity', 'putts_round', 'scramble', 'sg_putt', 'sg_t2g',
       'sg_total', 'points_gained', 'm_cut', 'top_25', 'new_score', 'm_play'],
      dtype='object')

In [4]:
from sklearn.preprocessing import MinMaxScaler
def normalize_data(data):
    data = data.values
    data = np.concatenate((data, data ** 2, data ** 3), axis=1)

    scaler = MinMaxScaler().fit(data)
    data = scaler.transform(data)
    return data

In [5]:
masters2019 = pd.read_csv('masters2019.csv')
data2019 = masters2019.drop(['player_name'], axis=1)
normalized = normalize_data(data2019)
names = data2019.columns
new_cols = [n for n in names] + [n + '^2' for n in names] + [n + '^3' for n in names]
data2019 = pd.DataFrame(normalized, columns=new_cols)

In [6]:
masters['avg_score'] = masters['total_score']
for i, row in masters.iterrows():
    if row['m_cut']:
        masters.loc[i, 'avg_score'] /= 4
    else:
        masters.loc[i, 'avg_score'] /= 2
        
masters.drop(masters[masters['avg_score'] < 60].index, inplace=True)

In [7]:
analyze = masters.drop(['player_name', 'year', 'masters_finish', 'total_score', 'ranking', 'hole_proximity',
                        'points_gained', 'm_cut', 'top_25', 'new_score', 'm_play', 'avg_score'], 
                           axis=1)
data = normalize_data(analyze)
shuffle = np.random.permutation(range(len(analyze.index)))
data = data[shuffle]
splitIdx = int(len(shuffle) * .8)
trainData = data[:splitIdx]
testData = data[splitIdx:]

names = analyze.columns
new_cols = [n for n in names] + [n + '^2' for n in names] + [n + '^3' for n in names]
train_X = pd.DataFrame(trainData, columns=new_cols)
test_X = pd.DataFrame(testData, columns=new_cols)
train_data = pd.DataFrame(data, columns=new_cols)

In [8]:
train_labels = masters['avg_score'].values[shuffle][:splitIdx]
train_Y = pd.DataFrame(train_labels, columns=['avg_score'])
test_labels = masters['avg_score'].values[shuffle][splitIdx:]
test_Y = pd.DataFrame(test_labels, columns=['avg_score'])
train_labels = pd.DataFrame(masters['avg_score'].values[shuffle])

In [9]:
from sklearn.linear_model import RidgeCV
reg = RidgeCV()
reg.fit(train_X, train_Y)
pred = reg.predict(test_X)

In [10]:
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(test_Y, pred) ** 0.5

In [11]:
rmse

2.219328177544487

In [12]:
reg.fit(train_data, train_labels)
pred2019 = reg.predict(data2019)

In [13]:
predicted_names = masters2019[['player_name', 'wgr']].copy()

In [14]:
predicted_names['pred_score'] = pred2019
predicted_names['keys'] = [41,22,68,12,42,13,25,36,67,86,64,78,79,34,80,56,14,62,52,54,61,65,85,27,45,30,71,15,3,4,66,31,37,43,58,57,82,28,9,49,53,10,33,17,11,50,46,74,24,44,18,1,70,20,19,87,75,63,48,35,16,2,6,55,59]

In [15]:
sort_pred = predicted_names.sort_values(by='pred_score')

In [16]:
sort_pred[sort_pred['wgr'] <= 15].head(3)

      player_name  wgr  pred_score  keys
2    Rory McIlroy    3   70.910900    68
1  Dustin Johnson    2   71.275450    22
0     Justin Rose    1   71.614997    41

In [17]:
sort_pred[(sort_pred['wgr'] > 15) & (sort_pred['wgr'] <= 30)].head(3)

        player_name  wgr  pred_score  keys
20  Patrick Cantlay   21   71.855517    61
26    Sergio Garcia   27   72.188240    71
21   Phil Mickelson   22   72.283081    65

In [18]:
sort_pred[sort_pred['wgr'] > 30].head(3)

     player_name  wgr  pred_score  keys
35  Matt Wallace   36   72.743180    57
37    Haotong Li   39   73.130037    28
47    Si Woo Kim   55   73.173321    74

In [19]:
[41, 22, 68, 61, 65, 71, 57, 28, 74, 84]

[41, 22, 68, 61, 65, 71, 57, 28, 74, 84]

In [20]:
[68, 22, 41, 61, 71, 65, 57, 28, 74, 84]

[68, 22, 41, 61, 71, 65, 57, 28, 74, 84]

In [21]:
sort_pred.head(25)

          player_name  wgr  pred_score  keys
2        Rory McIlroy    3   70.910900    68
1      Dustin Johnson    2   71.275450    22
0         Justin Rose    1   71.614997    41
4       Justin Thomas    5   71.796443    42
20    Patrick Cantlay   21   71.855517    61
7            Jon Rahm    8   72.129710    36
12    Tommy Fleetwood   13   72.177217    79
26      Sergio Garcia   27   72.188240    71
21     Phil Mickelson   22   72.283081    65
9   Xander Schauffele   10   72.365430    86
13          Jason Day   14   72.473343    34
11        Tiger Woods   12   72.493614    78
5   Bryson DeChambeau    6   72.531657    13
19      Marc Leishman   20   72.581785    54
8       Rickie Fowler    9   72.624392    67
25   Hideki Matsuyama   26   72.678210    30
28         Adam Scott   29   72.684305     3
35       Matt Wallace   36   72.743180    57
23      Gary Woodland   24   72.867569    27
3       Brooks Koepka    4   72.929518    12
27      Cameron Smith   28   73.053815    15
16       Bubba Watson   17   73.075165    14
14         Tony Finau   15   73.090681    80
37         Haotong Li   39   73.130037    28
22       Webb Simpson   23   73.131042    85

In [22]:
results2019 = pd.read_csv("results2019.csv")
results2019.columns = ["position", "player_name", 'total', 'avg_score']

In [23]:
resultsAndPredicted = pd.merge(sort_pred, results2019, on= "player_name")

In [24]:
resultsAndPredicted

             player_name  wgr  pred_score  keys position  total  avg_score
0           Rory McIlroy    3   70.910900    68      T21    283      70.75
1         Dustin Johnson    2   71.275450    22       T2    276      69.00
2            Justin Rose    1   71.614997    41      CUT    148      74.00
3          Justin Thomas    5   71.796443    42      T12    280      70.00
4        Patrick Cantlay   21   71.855517    61       T9    278      69.50
5               Jon Rahm    8   72.129710    36       T9    278      69.50
6        Tommy Fleetwood   13   72.177217    79      T36    286      71.50
7          Sergio Garcia   27   72.188240    71      CUT    148      74.00
8         Phil Mickelson   22   72.283081    65      T18    282      70.50
9      Xander Schauffele   10   72.365430    86       T2    276      69.00
10             Jason Day   14   72.473343    34       T5    277      69.25
11           Tiger Woods   12   72.493614    78        1    275      68.75
12     Bryson DeChambeau    6   72.531657    13      T29    284      71.00
13         Marc Leishman   20   72.581785    54      T49    289      72.25
14         Rickie Fowler    9   72.624392    67       T9    278      69.50
15      Hideki Matsuyama   26   72.678210    30      T32    285      71.25
16            Adam Scott   29   72.684305     3      T18    282      70.50
17          Matt Wallace   36   72.743180    57      CUT    152      76.00
18         Gary Woodland   24   72.867569    27      T32    285      71.25
19         Brooks Koepka    4   72.929518    12       T2    276      69.00
20         Cameron Smith   28   73.053815    15      T51    290      72.50
21          Bubba Watson   17   73.075165    14      T12    280      70.00
22            Tony Finau   15   73.090681    80       T5    277      69.25
23            Haotong Li   39   73.130037    28      T43    287      71.75
24          Webb Simpson   23   73.131042    85       T5    277      69.25
25            Si Woo Kim   55   73.173321    74      T21    283      70.75
26          Patrick Reed   18   73.261715    62      T36    286      71.50
27         Jordan Spieth   33   73.277195    37      T21    283      70.75
28      Louis Oosthuizen   19   73.286016    52      T29    284      71.00
29    Francesco Molinari    7   73.286231    25       T5    277      69.25
..                   ...  ...         ...   ...      ...    ...        ...
34           Matt Kuchar   16   73.437998    56      T12    280      70.00
35        Keegan Bradley   34   73.501779    43      T43    287      71.75
36    Charles Howell III   46   73.550555    17      T32    285      71.25
37        Keith Mitchell   60   73.622906    44      T43    287      71.75
38           Ian Poulter   32   73.623116    31      T12    280      70.00
39  Kiradech Aphibarnrat   42   73.714946    49      T49    289      72.25
40            Alex Noren   30   73.749306     4      T62    296      74.00
41          Zach Johnson   87   73.763296    87      T58    293      73.25
42            Aaron Wise   67   73.768918     1       17    281      70.25
43         Corey Conners   84   73.792308    19      T46    288      72.00
44          Kevin Kisner   25   73.815651    45      T21    283      70.75
45       Charley Hoffman   66   73.916080    18      T29    284      71.00
46         Branden Grace   44   74.000463    10      T58    293      73.25
47         Danny Willett   78   74.181910    20      CUT    148      74.00
48            Kevin Tway   98   74.183985    48      T36    286      71.50
49          Stewart Cink   96   74.195746    75      CUT    148      74.00
50     Lucas Bjerregaard   43   74.228188    53      T21    283      70.75
51      Charl Schwartzel  104   74.242808    16      CUT    149      74.50
52              Kevin Na   54   74.264729    46      T46    288      72.00
53       Emiliano Grillo   59   74.310236    24      T62    296      74.00
54       Brandt Snedeker   47   74.324225    11      CUT    149      74.50
55        Patton Kizzire   97   74.453241    63      T18    282      70.50
56          Jimmy Walker  102   74.467036    35      T36    286      71.50
57             Adam Long  108   74.508757     2      CUT    149      74.50
58        Billy Horschel   41   74.552351     9      T56    292      73.00
59          Kyle Stanley   48   74.700136    50      T21    283      70.75
60         Martin Kaymer  190   75.027089    55      T51    290      72.50
61       Satoshi Kodaira   68   75.424968    70       61    294      73.50
62         Andrew Landry  128   75.631050     6      T46    288      72.00
63           Michael Kim  215   76.411038    59      CUT    154      77.00

[64 rows x 7 columns]

In [25]:
final_rmse = mean_squared_error(resultsAndPredicted['avg_score'], resultsAndPredicted['pred_score']) ** 0.5
final_rmse

2.4347791050519887